@import "../../style/variables.scss";

.sidenav-library-source-font {
  font-size: 15px;
  text-align: left;
  color: rgba(50, 50, 93, 0.5);
  width: 100%;
  position: relative;
  //margin-left: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.sidenav-library-source-font-selected {
  font-size: 15px;
  text-align: left;
  color: rgba(50, 50, 93, 0.5);
  width: 100%;
  position: relative;
  //margin-left: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  font-weight: 600;
}

.menu-label {
  width: calc(100% - 50px);
}

.div-underline {
  //height: 1px;
  //background-color: rgba(250, 250, 250, 0.3);
  //width: 84%;
}

.point-menu {
  width: 9px;
  background-color: #fff;
  border-radius: 50%;
  height: 9px;
  margin: auto;
}

.sidenav-library-source-font-docked {
  font-size: 15px;
  text-align: left;
  color: rgba(50, 50, 93, 0.5);
  width: 80%;
  position: relative;
  margin-left: 50px;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.sidenav-library-source-font-docked-selected {
  font-size: 15px;
  text-align: left;
  color: get-color(white);
  width: 80%;
  position: relative;
  margin-left: 50px;
  margin-top: 16px;
  margin-bottom: 16px;
  cursor: pointer;
  font-weight: 600;
}

.sidenav-library-dashline {
  position: absolute;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
  margin: auto;
  height: 1px;
  opacity: 0.1;
  color: get-color(white);
  border-top: solid 1px get-color(white);
}

.sidenav-library-dashline-docked {
  width: 100%;
  height: 1px;
  opacity: 0.1;
  color: get-color(white);
  border-top: solid 1px get-color(white);
}

.sidenav-library-text-menu {
  color: get-color(white);
  display: inline-block;
  margin-left: 40px;
}

.sidenav-library-dropdown {
  display: inline-block;
  transform: translateY(200%);
}

.sidenav-library-icons {
  position: absolute;
  margin-left: 25px;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.sidenav-library {
  margin-top: 40px;
  margin-bottom: 122px;
}

.sidenav-title-logo {
  position: relative;
  width: 80%;
  margin: 20px 0px 10px 0px;
  left: 50%;
  transform: translateX(-50%);
}

.sidenav-title-logo a {
  text-decoration: none;
  border: 0;
  outline: none;
}

.sidenav-library-menu-indicator {
  display: inline-block;
  position: absolute;
  align-self: flex-start;
  width: 5px;
  height: 40px;
  top: 15%;
  object-fit: fill;
  border-radius: 0px 16px 16px 0px;
  background-color: get-color(white);
  margin-right: 20px;
  box-shadow: 2px 0px 8px 0 rgba(#fff, 0.75);
}

.sidenav-bottom-image {
  margin-bottom: 8px;
}

.main-layout {
  padding: 0px 15px;
  padding-right: 0px;
  overflow: auto;
}

.sidenav-docked {
  position: relative;
  height: 100%;
  width: 80px;
  animation: shrink 300ms;
  transform: translateX(145px);
}

@keyframes shrink {
  0% {
    transform: translateX(-145px);
  }
  100% {
    transform: translateX(145px);
  }
}

.sidenav-docked-title {
  width: 25px;
  margin-top: 27px;
  margin-bottom: 20px;
  transform: translate(100%);
  cursor: pointer;
}

.sidenav-hamburger {
  width: 25px;
  margin: 15px;
  transform: translate(100%);
  cursor: pointer;
}

.sidenav-docked-icon {
  width: 30px;
  height: 30px;
  margin: 13px;
  margin-left: 20px;
}

.sidenav-library-menu-indicator-docked {
  display: inline-block;
  position: absolute;
  width: 5px;
  left: 0;
  height: 40px;
  top: 15%;
  object-fit: fill;
  border-radius: 0px 16px 16px 0px;
  background-color: get-color(white);
  box-shadow: 2px 0px 8px 0 rgba(#fff, 0.75);
}

.main-layout {
  //height: 100vh;
}

@media screen and (max-width: 1185px) {

  .main-footer {
    min-height: 150px;
  }

  @media screen and (max-width: 470px) {
    .main-footer {
      min-height: 200px;
    }
  }
}

.sidenav-elements {
  position: relative;
  height: 10%;
}

.sidenav-bottom {
  height: 60px;
}

.sidenav-title {
  height: 50px;
  margin-top: 15px;
  border-bottom: 1px solid #766969;
  color: get-color(white);
  font-size: 23px;
}

.main-content {
  width: calc(100% - 250px);
  float: right;
  height: 100%;
}

.side-menu-left-border {
  width: 8px;
  height: 100%;
  background-color: get-color(white);
  position: absolute;
}

.logo-img {
  height: 70px;
  width: 100%;
  background-image: url(../../assets/images/sidenav/logo-sidenav.png);
  background-repeat: no-repeat;
  background-origin: content-box;
  text-align: center;
  margin-bottom: 12px;
  background-position-y: center;
  background-position-x: center;
  margin-top: 5%;
  padding: 7%;
  background-size: contain;
}

.selected-dots{
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  right: 20px;
}

.menu-img {
  width: 40px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

//.img-bg-div {
//  .icon-users {
//    background-image: url('../../assets/images/sidenav/icon-users.png');
//    background-repeat: no-repeat;
//    background-size: contain;
//  }
//  .icon-users-selected {
//    background-image: url('../../assets/images/sidenav/icon-users.png');
//    background-repeat: no-repeat;
//    background-size: contain;
//  }
//}

.list-selected {
  //background-color: white;
  //opacity: 0.7;
}
.version-div{
  color: #9092ab;
  padding-bottom:10px;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.menu{
  //border-top: 1px solid #c6cdd6;
  padding-top: 30px;
}

.selected-link,
.selected-link:hover{
  color: get-color(main-color) !important;
  border-radius: 8px!important;
  font-weight: bold;
}

.standalone-link{
  background-color: white !important;
}

.a-link-selected{
  background-color: white !important;
  color: get-color(main-color) !important;
  border-radius: 8px!important;
  font-weight: bold;
  .sidenav-library-source-font-selected{
    color: get-color(main-color) !important;
  }
}
