@import "../../../style/variables.scss";


.strength-div {
	background-color: get-color(white);
	position: absolute;
	border-radius: 5px;
	padding: 20px 40px 30px 40px;
	left: 0px;
	z-index:100000;
	-webkit-box-shadow: get-constant('box-shadow');
	-moz-box-shadow: get-constant('box-shadow');
	box-shadow: get-constant('box-shadow');
}
.mat-form-field{
	font-family: Gotham !important;
}
