<div class="full-width">
  <div class="form-group-double pull-left" [formGroup]="element.group" style="position: relative;">
    <mat-form-field class="full-width" dividerColor="accent">
      <input
        matInput
        [formControlName]="element.identifier"
        [type]="element.type"
        [placeholder]="element.label"
        [required]="element.required"
        (keyup)="validatePasswordStrength()"
        (click)="openStrengthMeter()"
        (change)="change()"
        [(ngModel)]="element.value"
        (blur)="blurFn()"
        [id]="element.identifier"
      >
    </mat-form-field>
    <div class="clearfix"></div>
    <div class="strength-div error-msg"
         *ngIf="open">
      Password should meet these requirements in order to be strong:
      <div [ngClass]="element.value && element.value.length >0 && strength.has_lowercase ? 'valid' : 'invalid'">
        <i class="{{element.value && element.value.length > 0 && strength.has_lowercase ? 'fa fa-check' : 'fa fa-close'}}"></i>
        At least one letter
      </div>
      <div [ngClass]=" element.value && element.value.length >0 && strength.has_uppercase ? 'valid' : 'invalid'">
        <i class="{{element.value && element.value.length > 0 && strength.has_uppercase ? 'fa fa-check' : 'fa fa-close'}}"></i> At
        least one capital letter
      </div>
      <div [ngClass]="element.value && element.value.length >0 && strength.has_digit ? 'valid' : 'invalid'">
        <i class="{{element.value && element.value.length > 0 && strength.has_digit ? 'fa fa-check' : 'fa fa-close'}}"></i> At
        least one number
      </div>
      <div [ngClass]="element.value && element.value.length > 7 ? 'valid' : 'invalid'">
        <i class="{{element.value && element.value.length > 7 ? 'fa fa-check' : 'fa fa-close'}}"></i> Be at least 8 characters
      </div>
    </div>
    <div *ngIf="!open" class="error-msg">
      <div
        *ngIf="element.group.get(element.identifier).hasError('required') && element.group.get(element.identifier).touched">
        Field is required
      </div>
      <div
        *ngIf="element.group.get(element.identifier).hasError('pattern') && element.group.get(element.identifier).dirty">
        {{element.validationText}}
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="form-group-double-two pull-left" [formGroup]="element.group_confirm">
    <mat-form-field class="full-width" dividerColor="accent">
      <input
        mdInput
        [formControlName]="'confirm_'+element.identifier"
        [type]="element.type"
        placeholder="Confirm Password"
        [required]="element.required"
        [(ngModel)]="confirm_password"
        (click)="clickConfirmPassword()"
        [id]="'confirm_'+element.identifier"
      >
    </mat-form-field>
    <div class="clearfix"></div>
    <div *ngIf="!element.group_confirm.valid" class="error-msg">
      <div
        *ngIf="element.group_confirm.get('confirm_'+element.identifier).touched && element.group_confirm.get('confirm_'+element.identifier).hasError('required')">
        Field is required
      </div>
    </div>
    <div *ngIf="element.group_confirm.valid && confirm_password != element.value " class="error-msg">
      <div>Password and confirm password dont match</div>
    </div>
  </div>
</div>
