@import "../../style/variables.scss";

.custom-input input{
	margin-bottom: 0px !important;
	box-shadow: none;
}

.custom-div{
	width: 300px;
	margin: 20px;
}

.mat-input-placeholder.mat-float.mat-accent {
	color: #ccc !important;
}

.mat-dialog-content{
	max-height: 100%;
}


form > *{
	padding-bottom:5px;
}

.custom-loader md-progress-spinner{
	width: 40px;
	height: 40px;
}

.custom-input input[type=password]{
	padding-top: 1px !important;
}

.shadow-box{
	-webkit-box-shadow: get-constant('box-shadow');
	-moz-box-shadow:  get-constant('box-shadow');
	box-shadow:  get-constant('box-shadow');
}


.popup-div{
	z-index: 10;
	width: 100%;
	background-color: get-constant('background-color');
}

@media only screen and (min-width: 767px) {
	.custom-div{
		width: 300px;
		height: 370px;
	}
}


.custom-header{
	padding-bottom: 10px;
	width: 100%;
	position: relative;
	font-size: 20px;
	text-align: center;
}

.header-background{
	background-size: cover;
	height: 130px;
	z-index: 1;
	background-color: get-color(secondary-color);
	border-bottom: 1px solid #ebebeb;
}

.custom-header-content{
	top: 15px;
	left: 0;
	position: absolute;
	margin-left: 20px;
	margin-right: 20px;
	right: 0;
	z-index: 2;
	text-align: center;
}

.popup-content{
	background-color: get-color(secondary-color);
	border-radius: 10px;
	padding: 0px;
	box-shadow: 0 0 10px #e9e5e5;
}

.rounded-image{
	width: get-constant('rounded-image-width');
	height: get-constant('rounded-image-height');
	border-radius: get-constant('rounded-image-border-radius');
}

.bold-title{
	font-family: 'Gotham';
	font-size: 19px;
	color: get-color(secondary-color);
}

.light-title{
	font-family: 'Gotham-Book';
	font-size: 16px;
	color: get-color(secondary-color);
}

.image-container{
	padding-bottom: 10px;
}

.mat-dialog-actions{
	padding: 20px;
	display: block !important;
	margin:0 auto;
}

.custom-loader md-progress-spinner{
	width: 40px;
	height: 40px;
}
.change-pass-error{
	font-size: 17px;
	color:#861536;
	text-align: center;
	margin-bottom: 8px;
}


.valid {
	color: get-color('main-color');
}

.invalid {
	color: get-color('invalid') !important;
}
::ng-deep.mat-dialog-container{
	overflow: hidden;
}
::ng-deep.mat-dialog-content{
	height: auto !important;
}

@media screen and (max-width: 650px ) {
	::ng-deep.custom-div .error-msg{
		margin-left: 10%;
	}
	.custom-div{
		width: auto !important;
	}
	.custom-div .mat-dialog-actions{
		margin: 0 auto !important;
	}
}

