<div *ngIf="hasLoaded" class="custom-div" style="display: inline-grid">
	<mat-dialog-content>
		<div class="custom-header">
			<div>Change Password</div>
		</div>
		<div class="simple-form change-pass-form">
			<form class="form-group custom-form" [formGroup]="validationForm">
				<div class="custom-input">
					<mat-form-field class="full-width" dividerColor="accent" [floatLabel]="'never'">
						<input matInput
							   required="true"
							   formControlName="old_password_field"
							   type="password"
							   [placeholder]="fields.old_password_field.label"
							   [(ngModel)]="old_password"
						>
					</mat-form-field>
					<div *ngIf="!validationForm.controls['old_password_field'].valid" class="error-msg">
						<div
								*ngIf="validationForm.controls['old_password_field'].hasError('required') && validationForm.controls['old_password_field'].touched">
							Field is required
						</div>
					</div>
				</div>
				<div class="custom-input">
					<mat-form-field class="full-width" dividerColor="accent" [floatLabel]="'never'">
						<input matInput
							   required="true"
							   formControlName="new_password_field"
							   (keyup)="validatePasswordStrength()"
							   (click)="openStrengthMeter()"
							   type="password"
							   [placeholder]="fields.new_password_field.label"
							   [(ngModel)]="new_password"
						>
					</mat-form-field>
					<div *ngIf="!valid" class="error-msg">
						<!--<div-->
						<!--*ngIf="validationForm.controls['new_password_field'].hasError('required') && validationForm.controls['new_password_field'].touched">-->
						<!--Field is required-->
						<!--</div>-->
						<div class="strength-div"
							 *ngIf="open">
							Minimum 8 Characters
							<!--Password should meet these requirements in order to be strong:-->
							<!--<div [ngClass]="new_password && new_password.length >0 && has_lowercase ? 'valid' : 'invalid'">-->
								<!--<i class="{{new_password && new_password.length > 0 && has_lowercase ? 'fa fa-check' : 'fa fa-close'}}"></i>-->
								<!--At least one letter-->
							<!--</div>-->
							<!--<div [ngClass]=" new_password && new_password.length >0 && has_uppercase ? 'valid' : 'invalid'">-->
								<!--<i class="{{new_password && new_password.length > 0 && has_uppercase ? 'fa fa-check' : 'fa fa-close'}}"></i> At-->
								<!--least one capital letter-->
							<!--</div>-->
							<!--<div [ngClass]="new_password && new_password.length >0 && has_digit ? 'valid' : 'invalid'">-->
								<!--<i class="{{new_password && new_password.length > 0 &&has_digit ? 'fa fa-check' : 'fa fa-close'}}"></i> At-->
								<!--least one number-->
							<!--</div>-->
							<!--<div [ngClass]="new_password && new_password.length > 7 ? 'valid' : 'invalid'">-->
								<!--<i class="{{new_password && new_password.length > 7 ? 'fa fa-check' : 'fa fa-close'}}"></i> Be at least 8 characters-->
							<!--</div>-->
						</div>
						<div
								*ngIf="validationForm.controls['new_password_field'].hasError('pattern') && validationForm.controls['new_password_field'].dirty">
							{{fields.new_password_field.validation.regex}}
						</div>
					</div>
					<!--<div *ngIf="this.validationForm.controls['new_password_field'].valid" class="error-msg">-->
					<!--<div-->
					<!--*ngIf="old_password == new_password">-->
					<!--Old and new passwords can't be the same-->
					<!--</div>-->
					<!--</div>-->

					<div class="clearfix"></div>
				</div>
				<div class="custom-input">
					<mat-form-field class="full-width" dividerColor="accent" [floatLabel]="'never'">
						<input matInput
							   formControlName="confirm_password_field"
							   type="password"
							   required="true"
							   [placeholder]="fields.confirm_password_field.label"
							   [(ngModel)]="confirm_password"
						>
					</mat-form-field>
					<div *ngIf="!validationForm.controls['confirm_password_field'].valid" class="error-msg">
						<div
								*ngIf="validationForm.controls['confirm_password_field'].hasError('required') && validationForm.controls['confirm_password_field'].touched">
							Field is required
						</div>
						<div
								*ngIf="!validationForm.controls['confirm_password_field'].hasError('required') && validationForm.controls['confirm_password_field'].touched">
							Minimum 8 Characters
						</div>
						<!--<div-->
						<!--*ngIf="!validationForm.controls['new_password_field'].hasError('pattern')-->
						<!--&& !validationForm.controls['new_password_field'].dirty-->
						<!--&& (confirm_password !== new_password)">-->
						<!--{{fields.confirm_password_field.validation.regex.error_message}}-->
						<!--</div>-->
					</div>
					<!--<div *ngIf="validationForm.controls['confirm_password_field'].valid" class="error-msg">-->
					<!--<div-->
					<!--*ngIf="validationForm.controls['confirm_password_field'].valid && validationForm.controls['new_password_field'].valid"-->
					<!--class="error-msg">-->
					<!--<div-->
					<!--*ngIf="confirm_password != new_password">-->
					<!--New and confirm passwords dont match-->
					<!--</div>-->
					<!--</div>-->
					<!--</div>-->
				</div>
			</form>
		</div>
		<div class="change-pass-error" *ngIf="showError">{{errorMessage}}</div>
	</mat-dialog-content>
	<mat-dialog-actions class="wrapper text-center">
		<div>
			<div class="center-element ">
				<button (click)="changePassword()" class="btn btn-save buttonForm1" style="margin: 8px 10px;" [disabled]="!validationForm.valid"
						data-toggle="tab">
					<span>{{responsePage.save_label}}</span>
				</button>
			</div>
		</div>
		<div>
			<div class="center-element">
				<button (click)="closeDialog()" id="close" md-button mat-dialog-close class="btn btn-cancel-pass buttonForm1" style="margin: 8px 10px;">
					{{responsePage.cancel_label}}
				</button>
			</div>
		</div>
	</mat-dialog-actions>
</div>
<!--<button class="hidden" id="closeButtonStart" md-button mat-dialog-close></button>-->

