.mdchip-cancel{
    background-image: url('../../../assets/images/close-white.svg');
    background-repeat: no-repeat;
    width: 22px;
    height: 17px;
    background-position: center;
    background-size: 56%;
}
