@import "../../../style/variables.scss";

.component-container {
  text-align: center;
  max-width: 100%;
}

.image-container {
  position: relative;
  cursor: pointer;
  padding: 10px;
  min-height: 53px;
  box-shadow: 1px 1px 1px 1px rgba(215, 215, 215, 0.5);
}

.close-image {
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}

.preview-uploaded-image {
  width: 165px;
  height: 165px;
}

.preview-default-image {
  height: 100px;
  background-image: url("../../../assets/images/upload.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.preview-text {
  color: get-color("main-color");
}

.preview-default-image-small {
  width: 40px;
}
.preview-uploaded-image-small {
  max-width: 100%;
}
.image-div-small{
  cursor: pointer;
}
.preview-image-div{
  position: relative;
  max-width: 100%;
}

.gallery-wrapper{
  display: flex;
  flex-wrap: wrap;
}

.gallery-element{
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  box-shadow: 0 0 10px #e9e5e5;
  margin: 5px;
}

.gallery-error{
  text-align: center;
  color: red;
}
.image-close{
  width: 15px;
  background-color: get-color('main-color');
  margin-left: 15px;
  margin-top: -15px;
}