//.locations-wrapper{
//  position: relative;
//  display: flex;
//  cursor: pointer;
//  margin: 4px 0px;
//  .locations{
//    width: 90%;
//  }
//  .location-icon{
//    background-image: url("../../../../assets/images/add_posts/location-icon.png");
//    background-repeat: no-repeat;
//    background-size: contain;
//    width: 30px;
//    height: 30px;
//    position: absolute;
//    right: -10px;
//    top: -5px;
//  }
//}

.locations-wrapper{
  font-size: 15px;
  text-align: left;
  width: 75%;
  margin: auto;
}